@charset "UTF-8";
/* ====================== Базовый сброс =============================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

body {
  font-family: TTNorms, sans-serif;
  font-size: 14px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  margin: 0;
}

/* ====================== Container ================================*/
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header_container {
  border-bottom: 1px solid #818080;
}

.announcementBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding-top: 12px;
  padding-bottom: 11px;
  color: #ffffff;
  background-color: #a0c5db;
}
.announcementBar_title {
  margin-right: 15px;
  font-size: 14px;
}
.announcementBar_link {
  display: inline-block;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.announcementBar_link:hover {
  cursor: pointer;
  color: rgba(0, 38, 255, 0.568);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  background-color: white;
}
.nav_list {
  display: none;
}
.nav_list-item {
  margin-right: 30px;
}
.nav_list-link {
  font-size: 15px;
  font-weight: 600;
  color: #818080;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_list-link:hover {
  cursor: pointer;
  color: #155fff;
}
.nav_list-link:hover .cart {
  fill: blue;
}

.logo {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
}

.logo-link:hover {
  cursor: pointer;
}

.cart {
  width: 35px;
  height: 35px;
  fill: #818080;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 83px;
    justify-content: center;
  }
  .nav_list {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .logo {
    width: 100px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .cart {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    justify-content: left;
  }
  .nav_list {
    margin-left: auto;
  }

  .logo {
    width: 120px;
    margin-left: 0;
  }
}
.mobile-menu-open {
  width: 35px;
  height: 35px;
  fill: #818080;
}
.mobile-menu-open:hover {
  fill: blue;
}

.mobile-menu-cart {
  width: 35px;
  height: 35px;
  fill: #818080;
}
.mobile-menu-cart:hover {
  fill: blue;
}

.mobile-menu {
  display: none;
}
.mobile-menu_list-item {
  text-decoration: none;
}
.mobile-menu_list-link {
  text-decoration: none;
  color: #0026ff;
  font-size: 12px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .mobile-menu-cart {
    display: none;
  }
}
.hero {
  width: 100%;
  height: 474px;
  margin: 0 auto;
  background-image: url(../../images/research-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_container {
  margin: 0 auto;
}
.hero_title {
  padding-top: 120px;
  font-size: 32px;
}
.hero_text {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
  }
  .hero_title {
    padding-top: 80px;
    font-size: 40px;
  }
  .hero_text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    background-image: url(../../images/research-hero-desktop.png);
  }
  .hero_title {
    padding-top: 150px;
    font-size: 40px;
  }
  .hero_text {
    width: 400px;
  }
}
.mainContent {
  width: 100%;
  height: 100%;
  padding-top: 61px;
  padding-bottom: 70px;
  background-color: #f4f4f4;
}

.mainContentSecondPage {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 61px;
  padding-bottom: 70px;
}

.title {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.36;
  text-align: center;
  color: #383838;
}

.text {
  margin: 0 auto;
  margin-bottom: 49px;
  font-size: 16px;
  text-align: center;
  color: #383838;
}

.buttonsList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttonsList_item {
  margin-right: 5px;
}
.buttonsList_link {
  font-size: 15px;
  font-weight: 400;
  border-radius: 7px;
  text-decoration: none;
  border: none;
  color: #6d8ffd;
}
.buttonsList_link:hover {
  cursor: pointer;
  color: blue;
}

@media screen and (min-width: 768px) {
  .mainContent {
    padding-top: 61px;
    padding-bottom: 70px;
  }

  .mainContentSecondPage {
    padding-top: 61px;
    padding-bottom: 70px;
  }

  .text {
    margin-bottom: 0;
    width: 623px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 34px;
  }
  .title_text {
    margin-bottom: 49px;
    font-size: 16px;
  }

  .buttonsList {
    height: 50px;
  }
  .buttonsList_item {
    margin-right: 30px;
  }
  .buttonsList_link {
    font-size: 20px;
    color: #ababab;
    background-color: transparent;
  }
}
.markup_item-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #363636;
}
.markup_item-content {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.63;
  color: #4e4e4e;
}

.current {
  color: blue;
}

@media screen and (min-width: 768px) {
  .changing-content {
    width: 750px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .markupContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 42px;
  }

  .markup_item {
    width: 50%;
  }
  .markup_item-title {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .markup_item-content {
    font-size: 16px;
  }

  .markupImg {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .changing-content {
    width: 1062px;
    height: 607px;
    margin-bottom: 20px;
  }

  .markupContainer {
    padding: 62px;
  }

  .markupImg {
    display: inline-block;
    width: 415px;
    height: 415px;
  }
}
.changingContentSecondPage {
  width: 320px;
  height: 607px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 7px;
}

.active {
  color: black;
}

.markupItem {
  min-height: 74px;
  margin-right: 20px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 16px;
  line-height: 1.63;
  color: #383838;
}
.markupItem_link {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #6e6e6e;
  border: none;
  background-color: white;
}
.markupItem_link:hover {
  cursor: pointer;
  color: black;
}
.markupItem_link_content {
  font-size: 15px;
  font-weight: 400;
}
.markupItem .markupImgSecond {
  display: inline-block;
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  .changingContentSecondPage {
    width: 700px;
    margin-bottom: 20px;
  }

  .markupContainerSecondPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
  }

  .markup_itemSecond {
    width: 50%;
  }

  .markupItem {
    min-height: 74px;
    margin-right: 20px;
    font-size: 16px;
  }
  .markupItem_link {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .markupItem {
    min-height: 74px;
  }
  .markupItem_link {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .markupItem_link_content {
    font-size: 15px;
    font-weight: 400;
  }

  .markupImgSecond {
    width: 467px;
    height: 428px;
    margin-left: 49px;
  }
}/*# sourceMappingURL=main.css.map */