.header_container {
  border-bottom: 1px solid #818080;
}
.announcementBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding-top: 12px;
  padding-bottom: 11px;
  color: #ffffff;
  background-color: #a0c5db;

  &_title {
    margin-right: 15px;
    font-size: 14px;
  }
  &_link {
    display: inline-block;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      cursor: pointer;
      color: rgba(0, 38, 255, 0.568);
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  background-color: white;

  &_list {
    display: none;
  }
  &_list-item {
    margin-right: 30px;
  }
  &_list-link {
    font-size: 15px;
    font-weight: 600;
    color: #818080;
    text-decoration: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      cursor: pointer;
      color: rgb(21, 95, 255);
    }
    &:hover .cart {
      fill: blue;
    }
  }
}

.logo {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
}
.logo-link:hover {
  cursor: pointer;
}
.cart {
  width: 35px;
  height: 35px;
  fill: #818080;
}
@media screen and (min-width: 768px) {
  .nav {
    height: 83px;
    justify-content: center;

    &_list {
      display: flex;
      justify-content: right;
      align-items: center;
    }
  }
  .logo {
    width: 100px;
    margin-left: 20px;
    margin-right: 30px;
  }
  .cart {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    justify-content: left;

    &_list {
      margin-left: auto;
    }
  }
  .logo {
    width: 120px;
    margin-left: 0;
  }
}
