.hero {
  width: 100%;
  height: 474px;
  margin: 0 auto;
  background-image: url(../../images/research-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &_container {
    margin: 0 auto;
  }

  &_title {
    padding-top: 120px;
    font-size: 32px;
  }
  &_text {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;

    &_title {
      padding-top: 80px;
      font-size: 40px;
    }
    &_text {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    background-image: url(../../images/research-hero-desktop.png);
    &_title {
      padding-top: 150px;
      font-size: 40px;
    }
    &_text {
      width: 400px;
    }
  }
}
